<html>
<head>
		<title>Demo Socketio - Homepage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
</head>

<body>
    <h1 id = "txt">Demo IOT</h1>

    <button id="btn_ON" >TURN ON</button>
		<button id="btn_OFF" >TURN OFF</button>

</body>

<script>
    //var socket = io("http://localhost");
		var host = window.location.hostname;

		var socket = io(host);

    //client nhận dữ liệu từ server
    //socket.on("Server-sent-data", function(data)
    //{
    //  console.log(data);
		//	$("#txt").text(data);
    //});
    //client gửi dữ liệu lên server
     $(document).ready(function()
     {
       $("#btn_ON").click(function()
       {
				 console.log(host)
         socket.emit("TURN_ON", "ON");
       });
			 $("#btn_OFF").click(function()
       {
         socket.emit("TURN_OFF", "OFF");
       });
     });
</script>
</html>
